body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4544px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:868px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:100px;
  width:430px;
  height:868px;
  opacity:0.5;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:201px;
  width:375px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:31px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:100px;
  width:571px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  white-space:nowrap;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:4444px;
  top:4444px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:221px;
  width:375px;
  height:40px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32608A;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:201px;
  width:375px;
  height:20px;
  color:#32608A;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#32608A;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:203px;
  width:28px;
  height:12px;
  font-size:10px;
  color:#32608A;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#32608A;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:203px;
  width:37px;
  height:12px;
  font-size:10px;
  color:#32608A;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#32608A;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:202px;
  width:37px;
  height:14px;
  font-size:10px;
  color:#32608A;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:206px;
  width:6px;
  height:10px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:207px;
  width:10px;
  height:10px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:206px;
  width:12px;
  height:7px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:206px;
  width:14px;
  height:10px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:208px;
  width:10px;
  height:4px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:206px;
  width:13px;
  height:10px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:205px;
  width:7px;
  height:11px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:205px;
  width:20px;
  height:11px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#32608A;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:229px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#32608A;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:556px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:262px;
  width:375px;
  height:556px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:818px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:848px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:824px;
  width:20px;
  height:20px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:818px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:848px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:824px;
  width:20px;
  height:20px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:818px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:848px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:824px;
  width:20px;
  height:20px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:817px;
  width:375px;
  height:1px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:277px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:279px;
  width:191px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u4039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:309px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:309px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:309px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:309px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:309px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:356px;
  width:375px;
  height:1px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:302px;
  width:8px;
  height:14px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:367px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:369px;
  width:191px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:446px;
  width:375px;
  height:1px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:392px;
  width:8px;
  height:14px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:398px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u4082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:293px;
  width:97px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:333px;
  width:181px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
